{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template assignsubmission_cloudflarestream/player

    Cloudflare Stream video player template.

    Context variables required for this template:
    * videouid - The Cloudflare video UID
    * submissionid - The submission ID
    * containerid - The unique container ID for this player instance

    Example context (json):
    {
        "videouid": "abc123def456",
        "submissionid": 42,
        "containerid": "cloudflarestream-player-12345"
    }
}}
<div class="cloudflarestream-player-wrapper">
    <div id="{{containerid}}" 
         class="cloudflarestream-player-container" 
         data-video-uid="{{videouid}}"
         data-submission-id="{{submissionid}}"
         style="width: 100%; min-height: 400px; background-color: #000; border-radius: 4px; position: relative;">
        
        {{! Loading indicator - will be replaced by player }}
        <div class="cloudflarestream-loading text-center" style="padding: 100px 20px;">
            <div class="spinner-border text-light" role="status" style="width: 3rem; height: 3rem;">
                <span class="sr-only">{{#str}}videoloading, assignsubmission_cloudflarestream{{/str}}</span>
            </div>
            <p class="text-light mt-3">{{#str}}videoloading, assignsubmission_cloudflarestream{{/str}}</p>
        </div>
    </div>
    
    {{! Error container - hidden by default, shown if playback fails }}
    <div id="{{containerid}}-error" class="cloudflarestream-error-container" style="display: none;">
        <div class="alert alert-danger mt-3" role="alert">
            <strong>{{#str}}playbackerror, assignsubmission_cloudflarestream{{/str}}</strong>
            <p class="cloudflarestream-error-message mb-2"></p>
            <button type="button" class="btn btn-secondary btn-sm cloudflarestream-retry-btn">
                {{#str}}retryupload, assignsubmission_cloudflarestream{{/str}}
            </button>
        </div>
    </div>
</div>

{{#js}}
require(['assignsubmission_cloudflarestream/player'], function(Player) {
    Player.init('{{videouid}}', {{submissionid}}, '{{containerid}}');
});
{{/js}}
